NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
CORS_ORIGINS=http://localhost:3001

DATABASE_URL=postgresql://postgres:PASSWORD@localhost:5432/inventario_db?schema=public

JWT_SECRET=cambiar-en-produccion
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=cambiar-en-produccion
JWT_REFRESH_EXPIRATION=7d

THROTTLE_LIMIT=100
THROTTLE_TTL=60
